* {
	box-sizing: border-box;

	line-height: 1.4;

	font-size: 100%;
	font-weight: inherit;
}

html, body, div, h1, h2, h3, h4, p, time,
article, section, time, nav {
	display: block;
	margin: 0;
	padding: 0;
}
ul, li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}