article {
	max-width: 1100px;
	padding: 2.5em 10% 10em;

	@media ( min-width: 800px ) {
		padding: 2.5em 20% 5em 10%;
	}

	@media ( min-width: 1800px ) {
		padding: 2.5em 30% 5em 10%;
	}

	@media print {
		padding: 1.5em;
		font-size: 0.7em;
	}

}


time {
	float: right;

	max-width: 60%;

	padding-left: 1em;
}

h4 {
	time + & {
		border-top-style: solid;
		border-top-width: 1px;
	}
}

ul {
	margin-left: 1em;

	@media ( min-width: 800px ) {
		margin-left: 1.5em;
	}
}

nav {
	margin-top: 1em;

	p {
		display: inline-block;

		margin-top: 0em;
		margin-right: 2em;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.no-print {
	display: none;
}

.award {
	display: none;
}