body {
	font-size: 1.2em;

	font-family: "Quicksand", sans-serif;

	@media ( min-width: 1300px ) {
		font-size: 1.5em;
	}
};

h1 {
	margin-top: 0em;

	font-size: 1.3em;
	font-weight: 700;
}

h2 {
	@extend h1;
	margin-top: 3em;
}

h3 {
	margin-top: 1.5em;

	font-weight: 700;
}

h4 {
	margin-top: 1em;

	//	For job titles
	h3 + div time + & {
		margin-top: 0em;

		font-weight: 100;
	}
}

h1, h2 {
	font-size: 1.4em;
}
h3, h4 {
	font-size: 1.1em;
}

time {
	margin-top: .25em;

	font-size: 0.8em;
	text-align: right;

	hgroup & {
		margin-top: .5em;
	}
}

p {
	margin-top: 1em;

	font-family: "Vollkorn", serif;

	h3 + & {
		margin-top: 0.2em;
	}

	h3 + time + & {
		margin-top: .5em;
	}

	li & {
		&:first-child {
			margin-top: .5em;
		}
	}

}